<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<form method="post" action="/" enctype="multipart/form-data">
    <label for="file_name">PDF</label>
    <input name="file" type="file" id="file_name"/>
    <button type="submit">Send file</button>
</form>
{% for file in list_of_pdf %}
    <p class="text-success">File {{ file.path.name }} has {{ file.pages }} pages</p>
    <div>
        <a href="/delete/{{ file['path'].name }}">Delete</a>
    </div>
{% endfor %}
<form method="post" action="/merge">
    <button type="submit">Merge files</button>
</form>
<form method="post" action="/clear">
    <button type="submit">Delete</button>
</form>
<form method="post" action="/pop">
    <button type="submit">Delete last item</button>
</form>
{% for message in get_flashed_messages() %}
    <p class="text-warning h6">{{ message }}</p>
{% endfor %}
</body>
</html>